<h2 class="fw-bold" style="margin-bottom: 10px;">Evaluating Pain Assessment and Management Disparities in Acute Pancreatitis</h2>
<h3 style="font-size: 1.1rem; font-style: italic; font-weight: normal; margin-bottom: 30px;">
  Laboratory of Computational Physiology, MIT — Cambridge, MA
</h3>

<p>
Here, I analyzed over 15,000 Emergency Department clinical records, including standardized 0 to 10 pain scores, to better understand how pain is documented, how treatment decisions are made, and whether patients actually receive meaningful relief in acute pancreatitis. I developed new metrics to track pain documentation patterns, treatment delays, opioid prescribing decisions, and how quickly patients achieved adequate pain control. We are currently expanding this approach to over 100,000 trauma-specific cases to examine how these patterns unfold in some of the highest-risk, most complex clinical scenarios.
</p>

<p>
We found that pain care is influenced by far more than just clinical symptoms. Across both general and trauma populations, it was found that race, gender, language barriers, insurance status, and even the specific location or type of encounter shaped who got treated, how quickly, and how seriously their pain was acknowledged. Patients from marginalized backgrounds were more likely to experience treatment delays or inconsistent pain relief, while certain groups were overexposed to opioids without necessarily receiving better outcomes. When systemic biases and provider decision-making patterns intersect with that complexity, it increases the risk of both under-treating and over-treating pain. This emphasizes the need for more nuanced, equity-focused tools to track and address these disparities to make pain management more consistent and personalized.
</p>

<div class="row g-5 mb-5" style="margin-top: 30px; margin-bottom: 50px;">
  <div>
    <h5 class="fw-bold pb-3 mb-3">View Full Paper:</h5>
    <embed src="/research/documen.pdf" frameborder="0" width="100%" height="400px">
  </div>
</div>