<h2 class="fw-bold" style="margin-bottom: 10px;">A Medico-Legal Approach to Subjective Pain Testimony in Disability Adjudication</h2>
<h3 style="font-size: 1.1rem; font-style: italic; font-weight: normal; margin-bottom: 30px;">
  Health Law and Policy Clinic, Harvard Law School — Cambridge, MA
</h3>

<p>
When understanding how hard it is for clinicians for bypass/interpret pain subjectivity, I quickly understood that this is a problem beyond the healthcare setting. Through the Center For Health Law and Policy Innovation (CHLPI), I was able to read through multiple hearings and appeals where I kept seeing the same pattern: administrative law judges (ALJs) mishandling or blatantly discrediting pain testimony, even when claimants had legitimate conditions. When subjective experiences like pain are dismissed just because they don’t line up perfectly with medical tests, it creates huge barriers for people trying to get the support they need. I saw so many cases where people with chronic pain conditions or those who couldn’t afford consistent medical documentation were constantly denied disability benefits.
</p>

<p>
I proposed building a coalition of healthcare and legal organizations to standardize how pain gets documented and considered, starting with updates to nationwide CMS quality surveys. Instead of focusing only on pain relief or inconsistent 0 to 10 scores, this would push for better tracking of pain trends, communication, and psychological factors that shape how pain is reported. This would be a plausible and cost-efficient way to impose stricter and more detailed pain data collection methods that can be used to make these legal interpretations more fair. I also outlined a pilot program to bring licensed pain specialists into ALJ hearings for cases where pain is a major factor but objective evidence is limited. I hope that the technologies I’m researching to better measure pain, like integrating physiological signals with psychological data, can help make this process more accurate, fair, and grounded in how pain is actually experienced.
</p>

<div class="row g-5 mb-5" style="margin-top: 30px; margin-bottom: 50px;">
  <div>
    <h5 class="fw-bold pb-3 mb-3">View Full Paper:</h5>
    <embed src="/research/hls.pdf" frameborder="0" width="100%" height="400px">
  </div>
</div>