<h2 class="fw-bold" style="margin-bottom: 10px;">Integrating Anticipatory and Physiological Factors to Predict Injection Pain Intensity</h2>
<h3 style="font-size: 1.1rem; font-style: italic; font-weight: normal; margin-bottom: 30px;">
  Affective Computing Group, MIT Media Lab — Cambridge, MA
</h3>

<p>
Pain is one of the most subjective and complex feelings to measure as it is shaped by stress, sleep, fear, personal history, and even cultural factors. Here, I wanted to develop a more holistic way to predict pain during subcutaneous injections by combining physiological signals like electrodermal activity (EDA) and heart rate with mental factors like sleep quality, stress levels, and fear of needles. By integrating as many pieces of a person’s relationship to sensory experiences from several wearables, I wanted to explore how we can better understand how individuals feel and express pain beyond the limits of oversimplified, one-size-fits-all pain scales.
</p>

<p>
First, I identified which mental and physiological factors had the biggest influence on pain sensitivity. Next, I built a person-independent model to predict pain using these factors across different individuals. Finally, I developed a person-dependent model that accounted for individual differences in pain tolerance and physiological responses, making the predictions more personalized. From this, I hope more initiatives are made for clinicians to capture the full picture of pain and allow for more personalized pain management.
</p>

<div class="row g-5 mb-5" style="margin-top: 30px; margin-bottom: 50px;">
  <div>
    <h5 class="fw-bold pb-3 mb-3">View Full Paper:</h5>
    <embed src="/research/media.pdf" frameborder="0" width="100%" height="400px">
  </div>
</div>