<h2>Enhancing Molecular Docking: Studying and Optimizing Generative Model Priors</h2>

<p>
In the realm of drug discovery, this research focuses on enhancing molecular docking through machine learning. Traditional docking methods, rooted in fundamental physics, often fall short in their accuracy of predicting ligand binding poses. This work advances this field by utilizing generative models like DiffDock and HarmonicFlow, which learn from data rather than relying solely on predetermined physical principles.
</p>

<p>
This analysis revealed that while the predicted molecular structures were physically feasible, their radius of gyration estimates were notably low. This suggested a significant shortfall in the models' ability to accurately represent long-range (3+ bonds distance) atomic information. Through this intricate examination, we established that the existing models, though structurally sound, lacked crucial long-range data critical for precise docking predictions.
</p>

<p>
To address these challenges, my team and I developed two innovative priors aimed at refining the predictive models. The first prior harnessed the 3D structural information of the ligand, while the second utilized consensus distances across multiple ligand conformers. We set a threshold on long-range pairwise distances to ensure the consistency of information fed into the prior. These novel approaches significantly improved the accuracy and consistency of our predictions, marking a substantial advancement in the field of drug discovery and computational biology by enhancing the reliability of generative molecular docking models.
</p>

<img src="{{ site.github.url }}/research/mlcb.jpeg" alt="MLCB Image" style="max-width: 500px; margin-top: 20px;">