<section class="photos-section">
  <h3 class="fw-bold pb-2 mb-3">Photos</h3>
  <p class="photo-description">I’m working on being more intentional with my photography but, in the meantime, here is a selection of photos, people, and places that I love! Either taken on iPhone 14 Pro, Olympus FE-370, or Fujifilm X-T2 (you guess which ones use which :3).</p>
  <br>
  <br>
  <div class="photo-grid" style="margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/1.jpeg" alt="Photo 1" width="100%" style="margin-bottom:30px;">
    <div style="position: relative;">
      <img src="{{ site.github.url }}/photos/2.jpeg" alt="Photo 2" width="70%" style="position: absolute; top: 0; left: 0; z-index: 1;">
      <img src="{{ site.github.url }}/photos/3.jpeg" alt="Photo 3" width="60%" style="position: absolute; top: 0; left: 45%; z-index: 2;">
    </div>
    <img src="{{ site.github.url }}/photos/4.jpeg" alt="Photo 4" width="100%" style="margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/5.jpeg" alt="Photo 5" width="60%" style="margin-left:80px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/6.jpeg" alt="Photo 6" width="100%" style="margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/18.jpeg" alt="Photo 18" width="30%" style="margin-bottom:30px;">
  </div>
</section>