<section class="photos-section">
  <h3 class="fw-bold pb-2 mb-3">Photos</h3>
  <p class="photo-description">I’m working on being more intentional with my photography but, in the meantime, here is a selection of photos, people, and places that I love! Shot on an iPhone 14 Pro, Olympus FE-370, or Fujifilm X-T2 (you guess which ones use which :3).</p>
  <br>
  <br>
  <div class="photo-grid">
    <img src="{{ site.github.url }}/photos/1.jpeg" alt="Photo 1" width="100%" style="margin-bottom:50px;">
    <img src="{{ site.github.url }}/photos/2.jpeg" alt="Photo 2" width="70%" style="margin-left:200px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/3.jpeg" alt="Photo 3" width="60%" style="margin-left:100px; margin-bottom:60px;">
    <img src="{{ site.github.url }}/photos/4.jpeg" alt="Photo 4" width="100%" style="margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/5.jpeg" alt="Photo 5" width="60%" style="margin-left:80px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/6.jpeg" alt="Photo 6" width="100%" style="margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/18.jpeg" alt="Photo 18" width="30%" style="margin-left:50px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/25.jpeg" alt="Photo 25" width="80%" style="margin-left:90px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/7.jpeg" alt="Photo 7" width="60%" style="margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/13.jpeg" alt="Photo 13" width="60%" style="margin-left:150px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/55.jpeg" alt="Photo 55" width="100%" style="margin-bottom:50px;">
    <img src="{{ site.github.url }}/photos/48.jpeg" alt="Photo 48" width="50%" style="margin-left:50px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/9.jpeg" alt="Photo 9" width="65%" style="margin-left:180px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/8.jpeg" alt="Photo 8" width="40%" style="margin-left:40px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/17.jpeg" alt="Photo 17" width="100%" style="margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/28.jpeg" alt="Photo 28" width="50%" style="margin-left:100px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/33.jpeg" alt="Photo 33" width="30%" style="margin-left:300px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/37.jpeg" alt="Photo 37" width="85%" style="margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/46.jpeg" alt="Photo 46" width="35%" style="margin-left:275px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/45.jpeg" alt="Photo 45" width="55%" style="margin-left:75px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/54.jpeg" alt="Photo 54" width="65%" style="margin-left:175px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/61.jpeg" alt="Photo 61" width="88%" style="margin-left:120px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/44.jpeg" alt="Photo 44" width="68%" style="margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/35.jpeg" alt="Photo 35" width="45%" style="margin-left:70px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/50.jpeg" alt="Photo 50" width="60%" style="margin-left:165px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/56.jpeg" alt="Photo 56" width="30%" style="margin-left:100px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/36.jpeg" alt="Photo 36" width="75%" style="margin-left:55px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/14.jpeg" alt="Photo 14" width="60%" style="margin-left:200px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/58.jpeg" alt="Photo 58" width="57%" style="margin-left:20px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/10.jpeg" alt="Photo 10" width="75%" style="margin-left:95px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/11.jpeg" alt="Photo 11" width="50%" style="margin-left:20px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/59.jpeg" alt="Photo 59" width="35%" style="margin-left:270px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/23.jpeg" alt="Photo 23" width="60%" style="margin-left:180px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/16.jpeg" alt="Photo 16" width="35%" style="display:block; margin-left:50px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/38.jpeg" alt="Photo 38" width="50%" style="display:block; margin-left:99px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/51.jpeg" alt="Photo 51" width="80%" style="margin-left:220px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/62.jpeg" alt="Photo 62" width="60%" style="margin-left:65px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/57.jpeg" alt="Photo 57" width="65%" style="margin-left:175px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/60.jpeg" alt="Photo 60" width="45%" style="margin-left:100px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/63.jpeg" alt="Photo 63" width="90%" style="margin-left:75px; margin-bottom:30px;">
    <img src="{{ site.github.url }}/photos/64.jpeg" alt="Photo 64" width="45%" style="margin-left:220px; margin-bottom:30px;">
  </div>
</section>