<h2 class="fw-bold" style="margin-bottom: 10px;">Metabolic Biomarkers of MDD Phenotype Heterogeneity</h2>
<h3 style="font-size: 1.1rem; font-style: italic; font-weight: normal; margin-bottom: 30px;">
  Center for Precision Psychiatry, Massachusetts General Hospital — Boston, MA
</h3>

<p>
For my Master's capstone project, I developed a metabolomics-based framework to better understand and detect major depressive disorder (MDD) by moving beyond the typical "one-size-fits-all" approach. Most research on depression treats MDD as a single, uniform condition, despite how differently it presents across individuals. I wanted to explore whether specific metabolic biomarkers could be used to reflect varying levels of MDD severity. Using large-scale UK Biobank data, I engineered network pipelines to isolate the most informative metabolic features from over 250 biomarkers, then applied multivariable regression models to assess how these biomarkers change across progressively severe depression phenotypes.
</p>

<p>
The lipid-related metabolites, notably triglycerides and very-low-density lipoproteins (VLDL), showed stronger associations as MDD severity increased. This suggests metabolic signatures could help distinguish between mild, self-reported depression and more clinically-defined, recurrent forms of the disorder. The real inspiration for this work is it's potential to be used for early-detection, especially given how hard it is to stay in remission once affected by MDD. In addition, it provides the foundation for developing a more affordable, accessible blood-based diagnostic tool for those struggling with MDD. Equally important, this approach avoids generalizing depression into a single phenotype and instead emphasizes stratifying individuals based on severity, allowing for more targeted and effective interventions.
</p>

<div class="row g-5 mb-5" style="margin-top: 30px; margin-bottom: 50px;">
  <div>
    <h5 class="fw-bold pb-3 mb-3">View Full Paper:</h5>
    <embed src="/research/psych.pdf" frameborder="0" width="100%" height="400px">
  </div>
</div>