<h2 class="fw-bold" style="margin-bottom: 10px;">PTENP1: A Pivotal Pseudogene in Glioblastomas</h2>
<h3 style="font-size: 1.1rem; font-style: italic; font-weight: normal; margin-bottom: 30px;">
  Cell Biology Lab, Bergen County Academies — Hackensack, NJ
</h3>

<p>
Since the beginning of my time in research, I was interested in leveraging components often overlooked in the research community. This started by studying how “junk” DNA could uniquely work to "distract" cancer cells. I focused on PTENP1, a pseudogene (or literally "fake gene") that was nearly identical to the tumor-suppressor protein PTEN but it doesn’t code for proteins. In glioblastoma, an aggressive brain cancer with limited treatment options, PTEN gets targeted and silenced by certain microRNAs, allowing tumor growth. I wondered if PTENP1 could act as a molecular decoy to free PTEN from that repression.
</p>

<p>
To explore this, I modulated glioblastoma cells to overexpress PTENP1 and tracked the downstream effects. PTEN levels increased, tumor cell proliferation dropped, and sensitivity to chemotherapy agents improved. At the same time, some signaling pathways like Akt activation behaved in unexpected ways, pointing to a deeper, more nuanced role for PTENP1 in cellular regulation. These results suggest PTENP1 could be leveraged to suppress glioblastoma progression, but also highlight how even "non-coding" regions of our genome can reshape the way we think about cancer treatment. (This is still one of my favorite projects to date!!)
</p>

<div class="row g-5 mb-5" style="margin-top: 30px; margin-bottom: 50px;">
  <div>
    <h5 class="fw-bold pb-3 mb-3">View Full Report:</h5>
    <embed src="/research/ptenp1.pdf" frameborder="0" width="100%" height="400px">
  </div>
</div>
