<h2 class="fw-bold pb-3 mb-5" style="margin-bottom: 30px;">PTENP1: A Pivotal Pseudogene in Glioblastomas</h2>

<p>
In this research, I delved into the therapeutic implications of the PTENP1 pseudogene in the context of glioblastoma treatment, a challenging and aggressive form of brain cancer. Historically considered genomic 'junk', pseudogenes have recently gained recognition for their regulatory roles in gene expression. My research focused on the PTENP1 pseudogene, which closely resembles the PTEN tumor suppressor gene.
</p>

<p>
The core of my research involved the strategic overexpression of PTENP1 in glioblastoma cells. This approach exploited the similarity between PTENP1 and PTEN to sequester microRNA-26a away from the PTEN gene. Such sequestration enabled PTEN to evade microRNA-mediated silencing, thus restoring its tumor-suppressing activity. The experimental outcomes were substantial, indicating that overexpression of PTENP1 curtailed cell proliferation, augmented the efficacy of chemotherapy, initiated cell cycle arrest, promoted autophagy, and attenuated the angiogenesis potential of the tumor cells.
</p>

<p>
This study presents a pioneering approach to cancer therapy, illustrating the potential of pseudogenes as therapeutic targets. By leveraging the PTENP1 pseudogene as a molecular decoy, the research demonstrates a novel method to reactivate tumor suppressor genes, thereby offering promising new pathways for glioblastoma treatment.
</p>

<img src="{{ site.github.url }}/research/ptenp1.jpeg" alt="PTENP1 Image" style="max-width: 500px; margin-top: 20px;">