<h2 class="fw-bold pb-3 mb-5" style="margin-bottom: 30px;">SERBP1: Exploiting RNA-Binding Protein-Mediated PAI-1 Inhibition</h2>

<p>
Here, I investigated the intricate relationship between SERBP1, a mRNA binding protein, and PAI-1, a key protein associated with aging-related conditions such as obesity, insulin resistance, Alzheimer's, and various fibroses. The focus is on exploring SERBP1's role in regulating PAI-1 mRNA, particularly in the context of cardiac fibrosis.
</p>

<p>
SERBP1, which demonstrates homology to intrinsically-disordered proteins, possesses unique prion-like properties that facilitate transgenerational epigenetic inheritance. This characteristic suggests that SERBP1 can self-template in a non-amyloid, prion-like manner, potentially amplifying its regulatory effects on PAI-1 levels.
</p>

<p>
My research aimed to elucidate and utilize the mechanism by which SERBP1 interacts with and influences PAI-1. The study involved manipulating SERBP1's localization in human cell models to observe its impact on PAI-1 expression. By targeting specific regions such as the RG/RGG region or influencing cyclic nucleotide levels, the research seeks to determine the functional differences between cytoplasmic and nuclear SERBP1 and its subsequent effect on PAI-1 levels.
</p>

<p>
The potential of SERBP1 to serve as a novel therapeutic target in cardiac fibrosis is significant. The unique prion-like behavior of SERBP1 offers a new avenue to modulate PAI-1 levels, which could lead to groundbreaking treatments for cardiac fibrosis and possibly other aging-related diseases. This research provides vital insights into the pathogenesis of age-dependent cardiac fibrosis and paves the way for developing innovative therapeutic strategies.
</p>

<img src="{{ site.github.url }}/research/serbp1.jpeg" alt="SERBP1 Image" style="max-width: 500px; margin-top: 20px;">