<h2 class="fw-bold" style="margin-bottom: 10px;">SERBP1: Exploiting RNA-Binding Protein-Mediated PAI-1 Inhibition</h2>
<h3 style="font-size: 1.1rem; font-style: italic; font-weight: normal; margin-bottom: 30px;">
  Vaughan Lab, Feinberg School of Medicine — Chicago, IL
</h3>

<p>
At Feinberg, I explored how an overlooked RNA-binding protein called SERBP1 might help regulate PAI-1, a molecule deeply involved in so many aging-related conditions including tissue fibrosis, obesity, and even Alzheimer’s disease. Prior research suggested that the location of SERBP1 within the cell (nucleus or cytoplasm) could control the stability of PAI-1 mRNA and ultimately how much of the PAI-1 protein is produced. I wanted to study if I could influence SERBP1’s location to control PAI-1 levels, which could open new possibilities for treating these conditions, especially cardiac fibrosis.
</p>

<p>
I designed experiments where I tagged SERBP1 with GFP to track its movement inside human cell models under different treatments, including high glucose conditions and small-molecule inhibitors. Alongside localization studies, I ran Western blots and qPCRs to quantify both PAI-1 and SERBP1 levels. Surprisingly, I found that high glucose conditions pushed SERBP1 into the cytoplasm, contradicting what existing literature suggested. But what was the most interesting was SERBP1’s potential prion-like (scaryyyy but it's not don't worry), transgenerational behavior, meaning its regulatory effects on PAI-1 could last across generations through epigenetic mechanisms. That long-lasting, real-world impact is something I have reinforced in my projects: holistically addressing these diseases. 
</p>

<div class="row g-5 mb-5" style="margin-top: 30px; margin-bottom: 50px;">
  <div>
    <h5 class="fw-bold pb-3 mb-3">View Poster:</h5>
    <embed src="/research/serbp1.pdf" frameborder="0" width="100%" height="400px">
  </div>
</div>